<!DOCTYPE html>

<html>
<head>
    <title>Layout Quản Trị</title>
    <link href="~/Content/AdminLayout/css/bootstrap.css" rel="stylesheet" type='text/css' />
    <!-- Custom Theme files -->
    <link href="~/Content/AdminLayout/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Custom Theme files -->
    <script src="~/Content/AdminLayout/js/jquery.min.js"></script>
    @*<link rel="stylesheet" href="~/Content/AdminLayout/css/font-awesome.css">*@
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--webfont-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <script src="~/Content/AdminLayout/js/zingchart.min.js"></script>
    <script src="~/Content/AdminLayout/js/zingchart.jquery.js"></script>
    <script src="~/Content/AdminLayout/js/jquery.easydropdown.js"></script>
    <script src="~/Content/AdminLayout/js/jquery.nicescroll.js"></script>

    <link href="~/Content/AdminLayout/css/jqvmap.css" media="screen" rel="stylesheet" type="text/css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
    <script src="~/Content/AdminLayout/js/jquery.vmap.js" type="text/javascript"></script>
    <script src="~/Content/AdminLayout/js/jquery.vmap.world.js" type="text/javascript"></script>
    <script src="~/Content/AdminLayout/js/jquery.vmap.sampledata.js" type="text/javascript"></script>

    <script src="~/Content/AdminLayout/js/easyResponsiveTabs.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#horizontalTab,#horizontalTab1,#horizontalTab2').easyResponsiveTabs({
                type: 'default', //Types: default, vertical, accordion
                width: 'auto', //auto or any width like 600px
                fit: true   // 100% fit in a container
            });
        });
    </script>
    <link href="~/Content/AdminLayout/css/nav.css" rel="stylesheet" type="text/css" media="all" />
    <script src="~/Content/AdminLayout/js/main.js"></script> <!-- Resource jQuery -->
    <!-- chart -->
    <script src="~/Content/AdminLayout/js/Chart1.js"></script>
    <!-- //chart -->
</head>
<body>
    <div class="total-content">
        <div class="col-md-3 side-bar">
            <div class="logo text-center">
                <a href="#"><img width="171" height="48" src="~/Content/images/logo_cty.jpg" alt=""></a>
            </div>
            <div class="navigation">
                <h3>Featured</h3>
                <ul>
                    <li><a href="#"><i class="chat"></i></a></li>
                    <li><a href="#">Charts</a></li>
                </ul>
                <ul>
                    <li><a href="#"><i class="art"></i></a></li>
                    <li><a href="#">Articals</a></li>
                </ul>
                <ul>
                    <li><a href="#"><i class="user"></i></a></li>
                    <li><a href="#">Users</a></li>
                </ul>
                <ul>
                    <li><a href="#"><i class="fat"></i></a></li>
                    <li><a href="#">Favorites</a></li>
                </ul>
                <ul>
                    <li><a href="#"><i class="speed"></i></a></li>
                    <li><a href="#">Speed</a></li>
                </ul>
                <ul>
                    <li><a href="#"><i class="setting"></i></a></li>
                    <li><a href="#">Settings</a></li>
                </ul>
            </div>

        </div>
        <div class="col-md-9 content">
            <div class="home-strip">
                <div class="sales">
                    <div class="icon">
                        <i class="dollar"></i>
                    </div>
                    <div class="icon-text">
                        <h3>15896</h3>
                        <p>Sales</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="orders">
                    <div class="icon">
                        <i class="order"></i>
                    </div>
                    <div class="icon-text">
                        <h3>26856</h3>
                        <p>New Orders</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="member pull-right">
                    <p><a href="#"><i class="men"></i></a><a href="#">Username</a></p>
                    <div id="dd" class="wrapper-dropdown-2" tabindex="1">
                        <span><img src="~/Content/AdminLayout/images/settings.png"></span>
                        <ul class="dropdown">

                            <li><a href="#">View Profile </a></li>
                            <li><a href="#">Lists</a></li>
                            <li><a href="#">Help</a></li>
                            <li><a href="#">Activity log</a></li>
                            <li><a href="#">Report a problem</a></li>
                            <li><a href="#">Log out</a></li>
                        </ul>
                    </div>
                    <!-----end-wrapper-dropdown-2---->
                    <!-----start-script---->
                    <script type="text/javascript">
                        function DropDown(el) {
                            this.dd = el;
                            this.initEvents();
                        }
                        DropDown.prototype = {
                            initEvents: function () {
                                var obj = this;

                                obj.dd.on('click', function (event) {
                                    $(this).toggleClass('active');
                                    event.stopPropagation();
                                });
                            }
                        }
                        $(function () {

                            var dd = new DropDown($('#dd'));

                            $(document).click(function () {
                                // all dropdowns
                                $('.wrapper-dropdown-2').removeClass('active');
                            });

                        });
                    </script>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
            <br />
            <br />
            @RenderBody()
    
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="footer">
        <div class="copyright text-center">
            <p>© 2015 All rights reserved | Template by  <a href="http://w3layouts.com">  W3layouts</a></p>
        </div>
    </div>

    <div class="jqvmap-label" style="display: none;"></div>
</body>
</html>
