<div class="footer">
    <div class="container">
        <div class="footer-top-at">

            <div class="col-md-4 amet-sed">
                <h4>HỖ TRỢ KHÁCH HÀNG</h4>
                <ul class="nav-bottom">
                    <li><a href="#">Hướng dẫn thanh toán</a></li>
                    <li><a href="#">Hướng dẫn đặt hàng</a></li>
                    <li><a href="contact.html">Quy định đổi mới sản phẩm</a></li>
                    <li><a href="#">Quy định bảo hành đổi trả</a></li>
                    <li><a href="#">Quy định giao hàng tận nơi</a></li>
                </ul>
            </div>
            <div class="col-md-8 amet-sed ">
                <h4>Địa chỉ mua hàng & Bảo hành</h4>

                <p>SHOWROOM: 187A Đường 3/2 - P11 - Quận 10, TP. HCM (Đối diện nhà hát Hòa Bình)</p>
                <p>Bán hàng (8:30 - 22:00): 0904.620.620 - 0943.13.3333</p>
                <p>Kỹ thuật (8:30 - 22:00): 0984.521.521</p>
                <p>Khiếu nại (8:30 - 22:00): 0904.620.620</p>
                <ul class="social">
                    <li><a href="#"><i> </i></a></li>
                    <li><a href="#"><i class="twitter"> </i></a></li>
                    <li><a href="#"><i class="rss"> </i></a></li>
                    <li><a href="#"><i class="gmail"> </i></a></li>

                </ul>
                <br>
                <br>
                <br>
            </div>

        </div>
    </div>
</div>
